#help{
  width:300px;
  height:400px;
}

#helpme{
  width:300px;
  height:400px;
}


h1{
  color:white;
  background-color:#2F2FA2;
}

body{
  background: white;
  color: black;
}
