#help{
  width:300px;
  height:400px;
}

#helpme{
  width:350px;
  height:180px;
}

#hopethisworks{
  width: 300px;
  height: 175px;
}

#Cieespecial{
  width:200px;
  height:200px;
}
h1{
  color:white;
  background-color:#2F2FA2;
}

body{
  background: white;
  color: black;
}
